/* Settings for site */
* {
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: $base-font;
}

html {
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 320px;
  width: 100%;
  color: $base-color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.03em;
  background: #161925;
  footer {
    margin-top: auto;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  body {
    cursor: pointer;
  }
}

section, header, footer, main {
  max-width: 100%;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

video {
  pointer-events: none;
}

button, input, textarea {
  padding: 0;
  background: none;
  border: none;
}

textarea {
  resize: none;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

svg {
  fill: currentColor;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
}

.svg-sprite {
  display: none;
}

.icon {
  max-width: 100%;
  max-height: 100%;
  &-arrow {
    color: transparent;
  }
}

.logo {
  color: $secondary-color;
  font-size: 1.285rem;
  font-weight: 600;
  letter-spacing: 0.178rem;
  text-transform: uppercase;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  &_default {
    padding: 13px 21px;
    color: $secondary-color;
    font-size: 0.858rem;
    font-weight: 700;
    background: $info-color;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1;
    &:hover {
      background: darken($info-color, 3%);
    }
  }
}

.input {
  width: 100%;
  color: $base-color;
  &::placeholder {
    color: $base-color;
  }
  &_default {
    padding: 10px;
    background-color: $bg-color;
    border-radius: 5px;
  }
}

.range_default.ui-slider {
  margin-top: 15px;
  width: 100%;
  height: 5px;
  background-color: #303645;
  border: none;
  border-radius: 2.5px;
  .ui-slider-range {
    background: $info-color;
  }
  .ui-slider-handle {
    top: 2px;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: $secondary-color;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 100%;
  }
}

.form {
  &-search {
    position: relative;
    .form {
      &__field {
        width: 285px;
        height: 40px;
        .input {
          padding-left: 50px;
        }
      }
      &__action {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-55%);
        width: 16px;
        height: 16px;
        button {
          width: 100%;
          height: 100%;
          .icon {
            color: $base-color;
          }
        }
      }
    }
  }
}

.text_effect {
  color: $effect-color;
  font-weight: 800;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  flex-wrap: nowrap;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_main-wrapper {
  position: relative;
  .slider__arrow_main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
    &-prev {
      left: 0;
      transform: translateY(-50%) rotate(90deg);
    }
    &-next {
      right: 0;
      transform: translateY(-50%) rotate(-90deg);
    }
    .icon {
      width: 100%;
      height: 100%;
      stroke: $secondary-color;
    }
  }
  .swiper-button-disabled {
    .icon {
      stroke: $base-color;
    }
  }
}