<% var data = {
title: "Главная",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="main">
    <div class="container">
        <div class="main__desc">
            <h2>Starburst</h2>
            <p>Storfavoriten Starburst blandar sprakande färger i en arkadatmosfär med fantastisk grafik. För dig som njuter av aktiva spel, erbjuder Starburst många spännande funktioner.</p>
            <div class="main__desc__pref">
                <span class="text_effect">86%</span> match your preferences
            </div>
        </div>
        <div class="main__info">
            <div class="main__info__form">
                <form action="#" class="form">
                    <div class="form__item form__field">
                        <div class="form__field__title">Gains</div>
                        <div class="form__field__val">
                            <span>Win ofter</span>
                            <span>Win large</span>
                        </div>
                        <div class="range_default"></div>
                    </div>
                    <div class="form__item form__field">
                        <div class="form__field__title">Time</div>
                        <div class="form__field__val">
                            <span>Quick games</span>
                            <span>Long games</span>
                        </div>
                        <div class="range_default"></div>
                    </div>
                    <div class="form__item form__field">
                        <div class="form__field__title">Bets</div>
                        <div class="form__field__val">
                            <span>Small bets</span>
                            <span>Huge bets</span>
                        </div>
                        <div class="range_default"></div>
                    </div>
                    <div class="form__item form__field">
                        <div class="form__field__title">Gains</div>
                        <div class="form__field__val">
                            <span>Win ofter</span>
                            <span>Win large</span>
                        </div>
                        <div class="range_default"></div>
                    </div>
                    <div class="form__item form__field">
                        <div class="form__field__title">Bets</div>
                        <div class="form__field__val">
                            <span>Small bets</span>
                            <span>Huge bets</span>
                        </div>
                        <div class="range_default"></div>
                    </div>
                    <div class="form__item form__action">
                        <button class="btn btn_default">Play</button>
                    </div>
                </form>
            </div>
            <div class="main__info__slider-wrapper slider_main-wrapper">
                <div class="main__info__slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="main__info__slider__slide swiper-slide"><img src="dist/img/starburst/1.png" alt="3"></div>
                        <div class="main__info__slider__slide swiper-slide"><img src="dist/img/starburst/2.png" alt="3"></div>
                        <div class="main__info__slider__slide swiper-slide"><img src="dist/img/starburst/3.png" alt="3"></div>
                        <div class="main__info__slider__slide swiper-slide"><img src="dist/img/starburst/2.png" alt="3"></div>
                    </div>
                </div>
                <div class="main__info__slider__arrow-prev slider__arrow_main slider__arrow_main-prev">
                    <svg class="icon icon-arrow">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </div>
                <div class="main__info__slider__arrow-next slider__arrow_main slider__arrow_main-next">
                    <svg class="icon icon-arrow">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="preview-sn">
    <div class="preview-sn__inner container">
        <div class="preview-sn__places">
            <div class="preview-sn__title"><h2>PLACES WHERE YOU CAN PLAY STARBUST</h2></div>
            <div class="cards">
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="dist/img/games/1.png" alt="1">
                    </div>
                    <div class="card__info">
                        <div class="card__info__name">Unibet</div>
                        <div class="card__info__desc">Det antika Egypten fortsätter att fascinera! Book of Dead erbjuder en fantastisk spelupplevelse i en värld inte helt olik Indiana Jones.</div>
                        <div class="card__info__price">
                            <div>
                                <span class="text_effect">20 euro</span>
                                <span>Sign-on bonus</span>
                            </div>
                        </div>
                        <div class="card__info__action">
                            <a href="#" class="btn btn_default">Play</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="dist/img/games/4.png" alt="4">
                    </div>
                    <div class="card__info">
                        <div class="card__info__name">Igame</div>
                        <div class="card__info__desc">Det antika Egypten fortsätter att fascinera! Book of Dead erbjuder en fantastisk spelupplevelse i en värld inte helt olik Indiana Jones.</div>
                        <div class="card__info__price">
                            <div>
                                <span class="text_effect">10 euro</span>
                                <span>Bonus for inviting a friend</span>
                            </div>
                            <div>
                                <span class="text_effect">250</span>
                                <span>Free spins</span>
                            </div>
                        </div>
                        <div class="card__info__action">
                            <a href="#" class="btn btn_default">Play</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="dist/img/games/7.png" alt="7">
                    </div>
                    <div class="card__info">
                        <div class="card__info__name">Leovegas</div>
                        <div class="card__info__desc">Det antika Egypten fortsätter att fascinera! Book of Dead erbjuder en fantastisk spelupplevelse i en värld inte helt olik Indiana Jones.</div>
                        <div class="card__info__price">
                            <div>
                                <span class="text_effect">100%</span>
                                <span>Bonus upp till 2000 kr</span>
                            </div>
                        </div>
                        <div class="card__info__action">
                            <a href="#" class="btn btn_default">Play</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="dist/img/games/2.png" alt="2">
                    </div>
                    <div class="card__info">
                        <div class="card__info__name">Maria Casino</div>
                        <div class="card__info__desc">Det antika Egypten fortsätter att fascinera! Book of Dead erbjuder en fantastisk spelupplevelse i en värld inte helt olik Indiana Jones.</div>
                        <div class="card__info__price">
                            <div>
                                <span class="text_effect">Free</span>
                                <span>1st game</span>
                            </div>
                        </div>
                        <div class="card__info__action">
                            <a href="#" class="btn btn_default">Play</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="dist/img/games/5.png" alt="5">
                    </div>
                    <div class="card__info">
                        <div class="card__info__name">Storspelare</div>
                        <div class="card__info__desc">Det antika Egypten fortsätter att fascinera! Book of Dead erbjuder en fantastisk spelupplevelse i en värld inte helt olik Indiana Jones.</div>
                        <div class="card__info__price">
                            <div>
                                <span class="text_effect">20 euro</span>
                                <span>Sign-on bonus</span>
                            </div>
                        </div>
                        <div class="card__info__action">
                            <a href="#" class="btn btn_default">Play</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="dist/img/games/8.png" alt="8">
                    </div>
                    <div class="card__info">
                        <div class="card__info__name">Comein</div>
                        <div class="card__info__desc">Det antika Egypten fortsätter att fascinera! Book of Dead erbjuder en fantastisk spelupplevelse i en värld inte helt olik Indiana Jones.</div>
                        <div class="card__info__price">
                            <div>
                                <span class="text_effect">50</span>
                                <span>Free Spins</span>
                            </div>
                            <div>
                                <span class="text_effect">1000 kr</span>
                                <span>Bonus</span>
                            </div>
                        </div>
                        <div class="card__info__action">
                            <a href="#" class="btn btn_default">Play</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview-sn__games">
            <div class="preview-sn__title">Similar games</div>
            <div class="cards">
                <div class="card">
                    <div class="card__img-wrapper">
                        <a href="#">
                            <img src="dist/img/games/3.png" alt="3">
                        </a>
                    </div>
                    <div class="card__info">
                        <div class="card__info__top">
                            <div class="card__info__name">Book of dead</div>
                            <div class="card__info__price">
                                <div>
                                    <span class="text_effect">90%</span>
                                    <span>match</span>
                                </div>
                            </div>
                        </div>
                        <div class="card__info__desc">Det antika Egypten fortsätter att fascinera! Book of Dead erbjuder en fantastisk spelupplevelse i en värld inte helt olik Indiana Jones.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img-wrapper">
                        <a href="#">
                            <img src="dist/img/games/6.png" alt="6">
                        </a>
                    </div>
                    <div class="card__info">
                        <div class="card__info__top">
                            <div class="card__info__name">Book of dead</div>
                            <div class="card__info__price">
                                <div>
                                    <span class="text_effect">88%</span>
                                    <span>match</span>
                                </div>
                            </div>
                        </div>
                        <div class="card__info__desc">Det antika Egypten fortsätter att fascinera! Book of Dead erbjuder en fantastisk spelupplevelse i en värld inte helt olik Indiana Jones.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>